/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #b49064;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #f0f0f0;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #808080;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: darkred;
    color: white;
}

.navbar_panel
{
    display: flex;

    justify-content: center;
    max-height: 20%;
    max-width: 100%;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    position: relative;

    border: 16px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 20 fill;
}

.gargoyle
{
    display: inline-block;
    align-self: flex-end;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 75%;
    width: 400px;
}

@media only screen and (min-width: 768px)
{
    .picture_illustration
    {
        max-width: 55%;
        width: 550px;
    }
}

.picture_gargoyle
{
    max-width: 100%;
    max-height: 67px;
    margin-bottom: -0.4em;
}

.content
{
    position: relative;
    border: 20px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 20 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 26px;

    border: 15px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 15 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: #e08f15;
    text-decoration: none;
    font-weight: bold;

    margin: 0.5px;
    
    width: auto;
    min-width: 105px;

    border: 15px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 12 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: #f8c850;
    text-decoration: none;

    text-shadow: 0px 8px 20px #867342,
                 0px -8px 20px #867342,
                 -8px 0px 20px #867342,
                 8px 0px 20px #867342;
    
    width: auto;
    min-width: 105px;

    border: 15px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 12 fill;
}
