/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #10ff10;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: greenyellow;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: rgb(0, 145, 0);
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #003c00;
    color: #10ff10;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 10px solid;
    border-image: url("images/design/panel_navbar_alt.png") round;
    border-image-slice: 6 fill; 
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration_wide
{
    max-width: 60%;
    width: 300px;
}

@media only screen and (min-width: 768px)
{
    .picture_illustration
    {
        max-width: 50%;
        width: 250px;
    }

    .picture_illustration_small
    {
        max-width: 40%;
        width: 200px;
    }
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: 25px solid;
    border-image: url("images/design/panel_content_alt.png") round;
    border-image-slice: 15 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 20px solid;
    border-image: url("images/design/panel_footer_alt.png") round;
    border-image-slice: 18 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: white;
    text-decoration: none;
    font-weight: bold;

    width: auto;
    min-width: 125px;
    
    border: 10px solid;
    border-image: url("images/design/button_alt.png") stretch;
    border-image-slice: 6 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton,
#Alt_AltDesignPageButton
{
    color: white;
    text-decoration: none;

    text-shadow: 0px 1px 2px #e04c4c,
                 0px -1px 2px #e04c4c,
                 -1px 0px 2px #e04c4c,
                 1px 0px 2px #e04c4c,
                 1px 1px 2px #e04c4c,
                 1px -1px 2px #e04c4c,
                 -1px 1px 2px #e04c4c,
                 -1px -1px 2px #e04c4c;

    width: auto;
    min-width: 125px;
}
