/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: red;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: gray;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: white;
    color: black;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 15px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 40 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_scavenger
{
    max-width: 90%;
    width: 350px;
    border-radius: 5px;
}

.picture_red_hunters
{
    max-width: 45%;
    width: 200px;
    margin-top: 15px;
}

@media only screen and (min-width: 768px)
{
    .picture_scavenger
    {
        max-width: 50%;
        width: 480px;
        border-radius: 5px;
    }

    .picture_red_hunters
    {
        max-width: 30%;
        margin-top: 15px;
    }
}

.content
{
    margin-top: 15px;
    margin-bottom: 15px;

    border: 25px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 100 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 25px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 90 90 110 90 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: white;
    text-decoration: none;
    line-height: 150%;

    width: auto;
    min-width: 123px;

    margin: 0.5px;

    border: 13px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 30 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: black;
    text-decoration: none;
    line-height: 150%;

    width: auto;
    min-width: 123px;

    margin: 0.5px;

    border: 13px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 30 fill;
}
