/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #ff4040;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #ebc390;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #aa8555;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #ffa35b;
    color: black;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 100%;
    
    border: 28px solid;
    border-image: url("images/design/panel_navbar.png") 2/2 round;
    border-image-slice: 61 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 60%;
    width: 600px;
    margin-top: 15px;
}

.picture_illustration_end
{
    max-width: 60%;
    width: 300px;
    margin-top: 10px;
}

.content
{
    margin-top: 12px;
    margin-bottom: 12px;
    
    border: 20px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 21 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 20px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 11 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.button
{
    color: red;
    text-decoration: none;
    font-weight: 500;

    margin: 1px;

    width: auto;
    min-width: 140px;

    border: 10px solid;
    border-image: url("images/design/button_off.png");
    border-image-slice: 7 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton,
#Alt_AltDesignPageButton
{
    color: white;

    text-shadow: -24px 0px 32px #e32222,
                 24px 0px 32px #e32222,
                 -48px 0px 32px #e32222,
                 48px 0px 32px #e32222;

    border: 10px solid;
    border-image: url("images/design/button_on.png");
    border-image-slice: 7 fill;
}
