/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #d7ba6d;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #ebdf92;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #e4935e;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #bababa;
    color: black;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 11px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 40 45 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 50%;
    width: 250px;
    margin-top: 15px;
}

@media only screen and (min-width: 768px)
{
    .picture_illustration
    {
        max-width: 30%;
        width: 300px;
        margin-top: 15px;
    }
}

.content
{
    margin-top: 15px;
    margin-bottom: 15px;
    
    border: 40px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 55 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 15px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 12 21 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: #e4a276;
    text-decoration: none;
    font-weight: bold;
    margin: 1px;
    text-shadow: 2px 2px 2px black;

    width: auto;
    min-width: 125px;

    border: 7px solid;
    border-image: url("images/design/button.png") round;
    border-image-slice: 7 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: rgb(245, 238, 188);
    text-decoration: none;
}
