/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #9cf8ac;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #299156;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #61b680;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #9cf8ac;
    color: #0c643c;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 8px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 10 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 60%;
    width: 225px;
    margin-top: 15px;
}

.picture_illustration_small
{
    max-width: 40%;
    width: 150px;
    margin-top: 15px;
}

@media only screen and (min-width: 768px)
{
    .picture_illustration
    {
        max-width: 30%;
        width: 300px;
        margin-top: 15px;
    }

    .picture_illustration_small
    {
        max-width: 20%;
        width: 200px;
        margin-top: 15px;
    }
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: 30px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 35 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 29px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 29 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: white;
    text-decoration: none;
    line-height: 20%;
    font-weight: normal;

    width: auto;
    min-width: 125px;

    margin: 0.65px;

    border: 20px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 27 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: black;
    text-decoration: none;
    line-height: 20%;
    font-weight: bold;

    width: auto;
    min-width: 125px;

    margin: 0.65px;

    border: 20px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 27 fill;
}
