/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #c09133;
    text-shadow: #4b2313 0 0 1px;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

h1, h2, h3, h4, h5, h6
{
    color: #dda535;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 125%;
    
    border: 20px solid;
    border-image: url("images/design/panel_title.png") round;
    border-image-slice: 25 20 fill;
}

.header_with_illustrations
{
    border: unset;
    border-image: unset;
    border-image-slice: unset;
}

.picture_header_monster
{
    margin: 0px 5px 0px 5px;
    height: 64px;
}

.picture_header_monster_small
{
    margin: 0px 5px 0px 5px;
    height: 56px;
}

.picture_header_quad
{
    margin: 0px 5px 0px 5px;
    height: 36px;
}

.picture_header_pentagram1
{
    margin: 0px 5px 0px 5px;
}

.picture_header_pentagram2
{
    margin: 0px 5px 0px 5px;
}

.picture_header_pentagram3
{
    margin: 0px 3px 0px 3px;
}

.picture_header_red_rune
{
    margin: 0px 2px 0px 2px;
    height: 20px;
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #e26c41;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #e9aaaa;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #572b17;
    color: #f3ba2a;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 10px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 7 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    justify-self: center;
    max-width: 75%;
    width: 450px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.picture_illustration_small
{
    justify-self: center;
    max-width: 60%;
    width: 125px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content
{
    display: grid;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 100%;
    
    border: 25px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 25 fill;
}

.footer
{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 125%;

    border: 20px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 12 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: #b9833c;
    text-decoration: none;
    font-weight: bold;
    
    width: auto;
    min-width: 125px;

    border: 10px solid;
    border-image: url("images/design/button.png") stretch;
    border-image-slice: 6 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton,
#Headers_HeadersButton
{
    color: #f3ba2a;
    text-decoration: none;

    text-shadow: 1px 1px 4px #cf8f2b,
                 1px -1px 4px #cf8f2b,
                 -1px 1px 4px #cf8f2b,
                 -1px -1px 4px #cf8f2b;

    width: auto;
    min-width: 125px;
}
