/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #8590ad;
    font-family: sans-serif;
    font-size: 16px;

    margin: 0px;
    margin-left: 2%;
    margin-right: 2%;

    background-image: url("images/design/background.png");
    background-position: center top;
}

.content a:link, .footer a:link, .unvisited_link
{
    color: skyblue;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: rgb(96, 148, 168);
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #566eac;
    color: whitesmoke;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 20px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 22 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 70%;
    width: 450px;
    margin-top: 15px;
}

.content
{
    margin-top: 15px;
    margin-bottom: 15px;
    
    border: 20px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 20 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 10px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 5 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: skyblue;
    text-decoration: none;

    width: auto;
    min-width: 125px;

    border: 7px solid;
    border-image: url("images/design/button.png") round;
    border-image-slice: 7 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: white;

    text-shadow: skyblue 0 0 4px;
    
    text-decoration: none;
}
