/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #00d2ce;
    text-decoration: underline;
    text-shadow: darkcyan 0 0 5px;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: white;
    text-decoration: underline;
    text-shadow: darkcyan 0 0 5px;
}

a:hover, .footer a:hover, .hover_link
{
    color: red;
    text-shadow: red 0 0 4px;
}

::selection, .selected_text
{
    background: #333333;
    text-shadow: white 0 0 5px;
    color: white;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 30px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 60 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 65%;
    width: 400px;
}

.picture_illustration_stretch
{
    max-width: 65%;
    width: 500px;
}

.content
{
    margin-top: 2px;
    margin-bottom: 2px;

    border: 30px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 85 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 30px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 90 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: cyan;
    text-decoration: none;

    text-shadow: darkcyan 0 0 4px;
    
    font-weight: 500;

    width: auto;
    min-width: 110px;

    margin: 0.5px;

    border: 12px solid;
    border-image: url("images/design/button.png") round;
    border-image-slice: 8 fill;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: white;

    text-shadow: 0px 1px 4px red,
                 0px -1px 4px red,
                 -1px 0px 4px red,
                 1px 0px 4px red;

    width: auto;
    min-width: 110px;

    margin: 0.5px;
}
