/* Site Themes - website themes with video game graphics
Copyright (C) 2022-2024 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    line-height: 150%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #ffbf00;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content a:link, .footer a:link, .unvisited_link
{
    color: #e77727;
    text-decoration: underline;
}

.content a:visited, .footer a:visited, .visited_link
{
    color: #97877b;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #fee88d;
    color: black;
}

.navbar
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 8px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 10 fill;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration
{
    max-width: 65%;
    width: 500px;
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;

    border: 8px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 11 fill;
}

.footer
{
    margin-left: 10%;
    margin-right: 10%;

    border: 8px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 7 10 fill;
}

@media only screen and (max-width: 768px)
{
    .footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.button
{
    color: #c0ac9d;
    text-decoration: none;
    font-weight: 500;

    width: auto;
    min-width: 110px;

    margin: 0.5px;

    border: 12px solid;
    border-image: url("images/design/button.png") round;
    border-image-slice: 8 fill;
}

.button:active
{
    border: 12px solid;
    border-image: url("images/design/button_pressed.png") round;
    border-image-slice: 8 fill;
}

.button:active .button_text
{
    position: relative;
    top: 3px;
    left: 3px;
}

#Home_HomeButton,
#TestPage_TestPageButton
{
    color: #fee88d;

    width: auto;
    min-width: 110px;

    margin: 0.5px;
}
